@page
@model POS_Rezor.Pages.Invests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invest[0].InvestPurpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invest[0].InvestAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invest[0].InvestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invest[0].ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invest[0].userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invest[0].comid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invest[0].EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invest[0].AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invest[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvestPurpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.InvestId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.InvestId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.InvestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
