@page
@model POS_Rezor.Pages.Transections.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transection.Month)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transection.Month)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transection.GivenDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transection.GivenDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transection.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transection.EntryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transection.TransectionAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transection.TransectionAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transection.userid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transection.userid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transection.comid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transection.comid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transection.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transection.Member.MemberName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transection.TransectionId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
