@page
@model POS_Rezor.Pages.Expensess.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].ExpensesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].ExpensesAmnount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].ExpensesDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].ExpensesDec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].comid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].AddedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Expenses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpensesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpensesAmnount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpensesDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpensesDec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ExpenceId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ExpenceId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ExpenceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
