@page
@model POS_Rezor.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].JoiningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].FatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].MotherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].SpouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].PhotoPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].EducationalQualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].NIDNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].PassportNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].TinNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].PresentAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].PermanentAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].NomineeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].RelationWithNominee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].NomineeNIDNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].NomineePhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].userid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].comid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].BloodGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationalQualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIDNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermanentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomineeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelationWithNominee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomineeNIDNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomineePhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroup.BloodGroupId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MemberId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
